.App {
  text-align: center;
}

.control {
  position: fixed;
  display: flex;
  bottom: 60px;
  width: 100%;
  justify-content: center;
  gap: 16px;
}

button {
  position: relative;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  stroke: black;
  fill: black;
}
